<div class="modal-content">

    <div class="modal-header">
      <h5 class="modal-title">{{ titulo }}</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        (click)="activeModal.dismiss('Cross click')"
      ></button>
    </div>

    <form
      class="row g-3 needs-validation"
      [formGroup]="form"
      (ngSubmit)="registrarCambioPassword(form.value)"
      id="userform"
      novalidate
    >
      <div class="modal-body">
        
        <div class="row">
          <div class="col-md-12 form-group is-invalid">
            <label for="current_password" class="form-label">Contraseña Actual</label>
            <input
              type="password"
              class="form-control form-control-sm"
              id="current_password"
              formControlName="current_password"
              placeholder="Contraseña Actual"
              [ngClass]="{ 'is-invalid': (form.controls.current_password.touched || form.controls.current_password.dirty) && form.controls.current_password.invalid }"
            >
            <app-input-validator-error [control]="form.controls.current_password" [controlName]="'Contraseña Actual'"></app-input-validator-error>
            <br>
          </div>
          <div class="col-md-12 form-group is-invalid">
            <label for="password" class="form-label">Contraseña Nueva</label>
            <input
              type="password"
              class="form-control form-control-sm"
              id="password"
              formControlName="password"
              placeholder="Contraseña Nueva"
              [ngClass]="{ 'is-invalid': (form.controls.password.touched || form.controls.password.dirty) && form.controls.password.invalid }"
            >
            <app-input-validator-error [control]="form.controls.password" [controlName]="'Contraseña Nueva'"></app-input-validator-error>
          </div>
        </div>
        
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="activeModal.dismiss('Cross click')"
        >Cancelar</button>
        
        <button
          type="submit"
          class="btn btn-primary color"
          [disabled]="form.invalid || isLoading"
        >
          <i class="lni lni-save" *ngIf="!isLoading"></i>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="isLoading"></span>
          Guardar
        </button>
      </div>
    </form>
  </div>
  