<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
  <div class="breadcrumb-title pe-3">Ventas</div>
  <div class="ps-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0 p-0">
        <li class="breadcrumb-item"><a href="#" (click)="$event.preventDefault()"><i class="bx bx-home-alt"></i></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Crear Ventas</li>
      </ol>
    </nav>
  </div>
</div>

<form class="row g-3 needs-validation" [formGroup]="form" (ngSubmit)="register(form.value)" id="proforma" novalidate>
  <div class="row mt-4 flex justify-content-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row mt-3 mb-3 container">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-10 form-group is-invalid">
                  <label for="nombre" class="form-label">Razon Social</label>
                  <input type="text" class="form-control form-control-sm" id="razon_social"
                    formControlName="razon_social" placeholder="Razon Social" [ngClass]="{ 'is-invalid':
                   (form.controls.razon_social.touched ||
                   form.controls.razon_social.dirty)
                   && form.controls.razon_social.invalid }">
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-5 form-group is-invalid">
                  <label for="nombre" class="form-label">Nit</label>
                  <input type="text" class="form-control form-control-sm" id="nit" formControlName="nit"
                    placeholder="Nit" [ngClass]="{ 'is-invalid':
                   (form.controls.nit.touched ||
                   form.controls.nit.dirty)
                   && form.controls.nit.invalid }">
                  <!-- <app-input-validator-error
                   [control]="form.controls.nit"
                   [controlName]="'Nit'"></app-input-validator-error> -->
                </div>
                <div class="col-md-5 form-group is-invalid">
                  <label for="nombre" class="form-label">Telefono</label>
                  <input type="text" class="form-control form-control-sm" id="celular" formControlName="celular"
                    placeholder="Telefono" [ngClass]="{ 'is-invalid':
                 (form.controls.celular.touched ||
                 form.controls.celular.dirty)
                 && form.controls.celular.invalid }">
                  <!-- <app-input-validator-error
                 [control]="form.controls.nit"
                 [controlName]="'Nit'"></app-input-validator-error> -->
                </div>
                <div class="col-md-10 mt-2 form-group is-invalid">
                  <label for="nombre" class="form-label">Direccion</label>
                  <input type="text" class="form-control form-control-sm" id="direccion" formControlName="direccion"
                    placeholder="Direccion" [ngClass]="{ 'is-invalid':
               (form.controls.direccion.touched ||
               form.controls.direccion.dirty)
               && form.controls.direccion.invalid }">
                  <!-- <app-input-validator-error
               [control]="form.controls.nit"
               [controlName]="'Nit'"></app-input-validator-error> -->
                </div>
                <div class="col-md-10 mt-2">
                  <label for="nombre" class="form-label">Moneda</label>
                  <ng-select #id{{i}} [items]="array" formControlName="dolar" class="form-select single-select"
                    bindLabel="tipo_moneda" bindValue="valor" class="custom" disabled (change)="onMoneda($event)">
                  </ng-select>
                </div>
                <!-- <div class="col-md-5 form-group is-invalid mt-2">
                  <label for="nombre" class="form-label">Con/Sin Factura</label>
                  <input type="checkbox" formControlName="factura" class="form-control form-control-sm form-check-input"
                    id="factura" value=1>
                </div> -->
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12 form-group">
                  <label class="form-label">Clientes</label>
                  <div class="input-group">
                    <ng-select formControlName="cliente_id" [items]="clientes" bindLabel="razon_social"
                      bindValue="cliente_id" (change)="onClienteSelect($event)" style="width: 100%;">
                    </ng-select>
                    <!-- <select
                           formControlName="cliente_id"
                           class="form-select single-select"
                           id="inputGroupSelect03"
                           aria-label="Example select with button addon"
                         (change)="onClienteSelect($event)"
                       >
                           <option *ngFor="let cliente of clientes" [value]="cliente.cliente_id">{{cliente.apellidos}}</option>
                       </select> -->
                  </div>
                </div>
                <div class="col-md-12 form-group is-invalid" *ngIf="user.roles[0].id==1">
                  <label for="nombre" class="form-label">Ubicacion</label>
                  <ng-select [items]="Sucursales" bindLabel="nombre" bindValue="sucursal_id" style="width: 100% ;"
                    formControlName="sucursal_id" (change)="OnSucursal($event)">
                  </ng-select>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4 flex justify-content-center">
    <div class="card">
      <div class="card-body">
        <div class="mt-4 mb-5">
          <div>
            <h5>PRODUCTOS</h5>
            <hr>
          </div>
          <div class="container">
            <div class="table-responsive">
              <table class="table table-borderless mb-0">
                <thead>
                  <tr>
                    <th>#</th>
                    <th style="width:350px;">Medicamento</th>
                    <th>Concentracion</th>
                    <th style="width: 80px;">Stock</th>
                    <th style="width: 80px;">Cantidad</th>
                    <th>Precio</th>
                    <th>Sub Total</th>
                    <th>
                      <!-- Acciones -->
                      <div class="d-flex order-actions ">
                        <a (click)="sumarUno()" class="bg-color-blue text-white"><i class='bx bx-list-plus'></i></a>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let basic of detalle.controls; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>
                      <ng-select
                          #producto_id{{i}}
                          [items]="productos"
                          bindLabel="texto"
                          bindValue="producto_id"
                          [formControl]="basic.get('producto_id')"
                          (change)="onProductoSelect($event,i); onCantidad($event,i);"
                          style="width: 350px ;"
                          disabled
                        >
                        </ng-select>
                    </td>
                    <td class="text-center">
                      {{basic.get('concentracion').value}}
                    </td>
                    <td>
                      <input type="text" class="form-control form-control-sm" id="total" disabled="true"
                        [value]="basic.get('stock').value" style="width: 80px;">

                    </td>
                    <td>
                      <input type="number" class="form-control" [formControl]="basic.get('cantidad')"
                        (change)="onCantidad($event,i)" style="width: 80px;">
                    </td>
                    <td>
                      <input type="number" class="form-control" [formControl]="basic.get('precio')"
                        (change)="onCantidad($event,i)">
                      <!-- {{ basic.get('precio').value | currency: 'BOB':'symbol-narrow':'1.2-2' }} -->
                    </td>
                    <td>
                      <input type="text" class="form-control" [value]="basic.get('total').value| number: '1.2'"
                        disabled="true">
                      <!-- {{ basic.get('total').value | currency: 'BOB':'symbol-narrow':'1.2-2' }} -->
                    </td>
                    <td>
                      <div class="d-flex order-actions">
                        <a (click)="restarUno(i)" class="bg-color-yellow text-white"><i class='bx bx-minus'></i></a>
                        <!-- <app-color-switcher></app-color-switcher> -->
                      </div>
                    </td>
                  </tr>

                </tbody>
                <tfoot>
                  <tr *ngIf="form.get('dolar').value==0">
                    <td colspan="5"></td>
                    <td class="d-flex justify-content-end ">TOTAL</td>
                    <td>
                      <input type="text" class="form-control form-control-sm" id="total" disabled="true"
                        [value]="total| number: '1.2'">
                    </td>
                  </tr>
                  <tr *ngIf="form.get('dolar').value==1">
                    <td colspan="5"></td>
                    <td class="d-flex justify-content-end ">TOTAL</td>
                    <td>
                      <input type="text" class="form-control form-control-sm" id="total" disabled="true"
                        [value]="totalDolar| number: '1.2'">
                    </td>
                  </tr>
                  <!-- <tr *ngIf="form.get('factura').value">
                    <td colspan="5"></td>
                    <td class="d-flex justify-content-end ">IVA({{factura*100}} %)</td>
                    <td *ngIf="form.get('dolar').value==0">
                      <input type="text" class="form-control form-control-sm" id="total" disabled="true"
                        [value]="total*factura | number: '1.2'">
                    </td>
                    <td *ngIf="form.get('dolar').value==1">
                      <input type="text" class="form-control form-control-sm" id="total" disabled="true"
                        [value]="totalDolar*factura | number: '1.2'">
                    </td>
                  </tr> -->
                  <tr *ngIf="form.get('dolar').value==0">
                    <td colspan="5"></td>
                    <td class="d-flex justify-content-end ">TOTAL BS.</td>
                    <td>
                      <input type="text" class="form-control form-control-sm" id="total" disabled="true"
                        [value]="form.get('total').value | number: '1.2'" [ngClass]="{ 'is-invalid':
                    (form.controls.total.touched ||
                    form.controls.total.dirty)
                    && form.controls.total.invalid }">
                    </td>
                  </tr>
                  <tr *ngIf="form.get('dolar').value==1">
                    <td colspan="5"></td>
                    <td class="d-flex justify-content-end ">TOTAL $US.</td>
                    <td>
                      <input type="text" class="form-control form-control-sm" id="total" disabled="true"
                        [value]="form.get('total$US').value | number:'1.2'" [ngClass]="{ 'is-invalid':
                    (form.controls.total.touched ||
                    form.controls.total.dirty)
                    && form.controls.total.invalid }">
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-4">
      <button type="button" class="btn btn-danger btn-lg" routerLink="/dashboard/ventas/ventas">Cancelar</button>
      &nbsp;
    </div>
    <div class="col-md-5">
      <button type="submit" class="btn bg-color-blue btn-lg" [disabled]="form.invalid || isLoading">
        <i class="lni lni-save" *ngIf="!isLoading"></i>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="isLoading"></span>
        Guardar
      </button>
    </div>
  </div>

</form>
