<section class="col-md-12 col-lg-12 banner" style="height: 81vh;">
    <div class="content">
     <div class="container pt-5 pb-5 pl-5 pr-5 d-flex justify-content-center">
        <div class="container d-flex justify-content-center ">
          <img src="../../../assets/images/GHMED.jpeg" width="500px" style="border-radius: 10%;">
            <!-- <div class="row">
                <div class="mt-5 pt-3 col-md-8 col-sm-8 col-lg-8 text-center text-white">
                    <h1 >DISTRIBUIDOR AUTORIZADO DE </h1>
                    <h1 >DAS AUDIO Y YAMAHA AUDIO PRO</h1>
                    <div class="row p-5">
                        <div class="col-md-6 col-sm-6 col-lg-6  d-flex justify-content-center align-items-center">
                            <img src="../../../assets/images/madak/LOGO_DAS_CLAIM-CMYK.png" class="img-fluid" style="max-width: 250px;"  alt="">
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-6  d-flex justify-content-center align-items-center">
                            <img src="../../../assets/images/madak/Yamaha-Motor-Company-Emblem.png" class="img-fluid" style="max-width: 250px;"  alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center ">
                    <img src="../../../assets/images/madak/2 IMAGENES/VANTEC-20A/thumbnailsenv.png" class="img-fluid img-p"  alt="">
                </div>
            </div> -->
        </div>
    </div>
    </div>
</section>
<!-- <section>
  <div class=" mt-60 bg-white mb-3">
      <div class="text-center mb-5">
          <h3>PRODUCTOS DESTACADOS</h3>
          <P>Lo último de la tecnología en sonido</P>
      </div>
      <div class="container" >
          <ul class="row">
            <li class="col-md-4 ml-5 mr-4" *ngFor="let item of productos">
                <a routerLink="/inicio/productos/{{item.producto_id}}"><img src="{{url}}/{{item.img_url}}" alt="" class="img-fluid" width="80%"></a>
            </li>
          </ul>
      </div>
      <div class=" d-flex justify-content-center mt-5">
        <ul>
          <li class="">
            <a
            type="button"
            class="btn btn-madak me-2 rounded-pill"
            routerLink="/inicio/productos"
          >
           Ver más productos
          </a>
          </li>
        </ul>
     </div>
  </div>
</section> -->

<!-- <section class="bg-light mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="services_title mt-5">
                    <h2>NUESTROS SERVICIOS</h2>
                    <p>Ahorra tiempo, consultanos tus dudas</p>
                </div>
            </div>
        </div>
        <div class="row p-5">
            <div class="col-lg-6 col-md-6">
                <div class="services_item">
                     <div class="services_icone">
                        <i class="zmdi zmdi-volume-up" aria-hidden="true"></i>
                    </div>
                    <div class="services_desc">
                        <h4 >VENTA POR MAYOR Y MENOR</h4>
                        <p>Tenemos los precios mÁs bajos del mercado solo con productos originales y de muy buena calidad.  </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="services_item">
                     <div class="services_icone d-flex justify-content-center" >
                        <i class="fa fa-bar-chart"></i>
                    </div>
                    <div class="services_desc">
                        <h4>DEMOSTRACIÓN DE PRODUCTOS EN VIVO</h4>
                        <p>Quieres saber cuales son las diferencias en calidad de sonido visitanos y lo sentirás tu mismo.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-5">
                <div class="services_item">
                     <div class="services_icone">

                        <i class="fa fa-lightbulb-o "></i>

                    </div>
                    <div class="services_desc">
                        <h4>ASESORÍA EN SISTEMAS DE SONIDO</h4>

                        <p>Nuestro personal especializado se encargará de brindarte toda la información que necesites.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-5">
                <div class="services_item">
                     <div class="services_icone">
                        <i class="zmdi zmdi-case"></i>
                    </div>
                    <div class="services_desc">
                        <h4>INSTALACIÓN Y ASESORÍA</h4>
                        <p>Realizamos instalaciones en ambientes como ser: restaurantes, iglesias y todo tipo de eventos sociales</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- <section class="bg-white mb-5">
        <div class="row">
            <div class="services_title mt-4 mb-5">
                <h2>CONTACTO</h2>
                <p>Nos encantaria escucharte y saber lo que necesitas</p>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <div style="width: 400px ;">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <img src="../../../assets/images/madak/logo-black.jpeg" class="img-fluid" alt="" style="width: 200px;">
                            </div>
                            <div class=" d-flex justify-content-center mt-5">
                                <ul>
                                  <li class="">
                                    <a
                                    type="button"
                                    class="btn btn-madak me-2 rounded-pill"
                                    href="https://api.whatsapp.com/send?phone=59176405764&text=quiero%20+%20informaci%C3%B3n"
                                    target="_blank"
                                  >
                                   <i class=" fa fa-whatsapp"></i> WhatsApp
                                  </a>
                                  </li>
                                </ul>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <div style="width: 500px;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3807.2702474841335!2d-66.15660708512345!3d-17.398813688071773!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93e373a234f3bb6d%3A0xd246bdc0a61746b6!2sMadak%20Music!5e0!3m2!1ses!2sbo!4v1667336298882!5m2!1ses!2sbo" width="400" height="380" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
</section> -->


