.bg-color-blue{
    background-color:rgb( 66 133 244) ;
    color: white;
  }
  .bg-color-red{
    background-color:rgb( 219 68 55) ;
    color: white;
  }
  .bg-color-yellow{
    background-color:rgb( 244 180 0) ;
    color: white;
  }
  .bg-color-green{
    background-color:rgb( 15 157 88) ;
    color: white;
  }
  .color-blue{
    color:rgb( 66 133 244) ;    
  }
  .color-red{
    color:rgb( 219 68 55) ;
    
  }
  .color-yellow{
    color:rgb( 244 180 0) ;
    
  }
  .color-green{
    color:rgb( 15 157 88) ;
    
  }