<section>
    <div class="about_section mt-60 bg-white mb-3">
        <div class="text-center">
            <h3>REPRESENTANTE Y DISTRIBUIDOR OFICIAL DE DAS AUDIO Y YAMAHA AUDIO PRO</h3>
        </div>
        <div class="row">
            <div class="col-md-6 about_thumb d-flex justify-content-end">
                <img src="assets/img/about/logoDas.png" alt="" style="width: 65%;">
            </div>
            <div class="col-md-6 about_thumb mt-3">
                <img src="assets/img/about/logyamaha.png" alt="" style="width: 65%;">
            </div>
        </div>
    </div>
</section>

<div class="our_services">
    <div class="container">   
        <div class="row">
            <div class="col-12">
                <div class="services_title mt-5">
                    <h2>NUESTROS SERVICIOS</h2>
                    <p>Ahorra tiempo, consultanos tus dudas</p>
                </div>
            </div>
        </div>
        <div class="row p-5">
            <div class="col-lg-6 col-md-6">
                <div class="services_item">
                     <div class="services_icone">
                        <i class="zmdi zmdi-volume-up" aria-hidden="true"></i>
                    </div>
                    <div class="services_desc">
                        <h4 >VENTA POR MAYOR Y MENOR</h4>
                        <p>Tenemos los precios mÁs bajos del mercado solo con productos originales y de muy buena calidad.  </p>
                    </div>  
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="services_item">
                     <div class="services_icone d-flex justify-content-center" >
                        <i class="fa fa-bar-chart"></i>
                    </div>
                    <div class="services_desc">
                        <h4>DEMOSTRACIÓN DE PRODUCTOS EN VIVO</h4>
                        <p>Quieres saber cuales son las diferencias en calidad de sonido visitanos y lo sentirás tu mismo.</p>
                    </div>  
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-5">
                <div class="services_item">
                     <div class="services_icone">

                        <i class="fa fa-lightbulb-o "></i>

                    </div>
                    <div class="services_desc">
                        <h4>ASESORÍA EN SISTEMAS DE SONIDO</h4>

                        <p>Nuestro personal especializado se encargará de brindarte toda la información que necesites.</p>
                    </div>  
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-5">
                <div class="services_item">
                     <div class="services_icone">
                        <i class="zmdi zmdi-case"></i>
                    </div>
                    <div class="services_desc">
                        <h4>INSTALACIÓN Y ASESORÍA</h4>
                        <p>Realizamos instalaciones en ambientes como ser: restaurantes, iglesias y todo tipo de eventos sociales</p>
                    </div>  
                </div>
            </div>
        </div>
    </div>   
</div>
