<div class="bg-login">
	<!--wrapper-->
	<div class="wrapper">
		<div class="section-bienvenido d-flex align-items-center justify-content-center my-5 my-lg-0">
			<div class="container-fluid">
				<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
                    <div class="col mx-auto text-center"><br><br>
                        <img src="../../../assets/images/GHMED.jpeg" class="img-fluid" alt="..." style="width: 70%;">
					</div>
				</div>
                <br><br>
				<!--end row-->
                <h3 class="texto text-center">Bienvenido al Sistema</h3>
			</div>
		</div>
	</div><br>
	<!--end wrapper-->
</div>
